body{
 background-color: #000;
 color: green;
font-size: 15px;
cursor:none;
}

button{
cursor:none;
}
 
.lines{
  stroke: green;
  stroke-width:2px;
}

@font-face {
  font-family: "Grmfont";
  src: url("GRMfont.woff")  format('woff');
}
.myFontClass {
  font-family: "Grmfont";
overflow-y: scroll;
}

/*独自のマウスカーソルを作成*/
div#cursor{
  top: -5px; /*座標調整*/
  left: 2px; /*座標調整*/
  width: 20px;
  height: 40px;
fill:none;
stroke:none;
background:url("pc.svg"); 
	position: fixed;
	z-index: 1000;
}
