body{
 background-color: #000;
 color: green;
font-size: 15px;
}

.lines{
  stroke: green;
  stroke-width:2px;
}

@font-face {
  font-family: "Grmfont";
  src: url("GRMfont.woff")  format('woff');
}
.myFontClass {
  font-family: "Grmfont";
overflow-y: scroll;
}
div {
width:1000px;
padding:10px;
margin:10px;
 background:#222200;
color:#ffffff;
border-radius: 10px;
border:2px solid  green;
}
